.cat-container-circle {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 15px solid #9494b9;
  background: #e0f7ff;
  margin: 0 auto;

  overflow: hidden;

  cursor: pointer;
}

.cat-body {
  position: relative;
  width: 200px;
  height: 210px;
  background: #444469;
  /*transition: height 1s ease;*/

  /*animation: bob-height 5s infinite ease-in-out;*/
  /*-webkit-animation: bob-height 5s infinite ease-in-out;*/
}

.cat-body:hover {
  /*height: 207px;*/
  /*transition: height 1s ease;*/
}

.cat-ear-inside {
  position: absolute;
  top: -22px;
  width: 0;
  height: 10px;
  border-radius: 46px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #c17272;
}

.cat-ear-inside.left {
  left: 0;
  transform: rotate(-25deg);
}

.cat-ear-inside.right {
  right: 0;
  transform: rotate(25deg);
}

.cat-ear {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 6px;
}

.cat-ear.left {
  top: -37px;
  left: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 80px solid #444469;
}

.cat-ear.right {
  top: -37px;
  right: 0px;
  border-radius: 6px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 80px solid #444469;
}

.cat-eye {
  position: absolute;
  top: 40px;

  border-radius: 100%;
  background: #d0ba6c;
  width: 20px;
  height: 20px;
}

.cat-eye.left {
  left: 25px;
}

.cat-eye.right {
  right: 25px;
}

.cat-mouth {
  position: absolute;
  top: 100px;
  left: 20px;
  border-radius: 4px;
  width: 160px;
  height: 10px;
  background: #9688d8;
}

@keyframes bob-height {
  0% { height: 200; }
  50% { height: 210; }
  100% { height: 200; }
}

@-webkit-keyframes bob-height {
  0% { height: 200; }
  50% { height: 210; }
  100% { height: 200; }
}


/*  TEXT  */
.tooltip {
  color: #fff;
  font-size: 25px !important;
  background-color: #6b8ad2 !important;
  pointer-events: auto !important;
  font-family: 'Press Start 2P', cursive;
  /*font-family: 'Unica One', cursive;*/
  padding: 12px 8px !important;
}

.tooltip::after {
  border-color: transparent !important;
}

.tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.title-text {
  margin-top: 10px;
  text-align: center;
  color: white;
  cursor: default;
}

.text-waffles {
  font-size: 50px;
  font-family: 'Poiret One', cursive;
}

.text-the {
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 5px;
}

.text-cat {
  font-size: 60px;
  font-family: 'Megrim', cursive;*/
}
