html, body {
  background: #241e33;
}

.splash-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

 /* messages container */
.messages-container {
  background: black;
}

 /* message */
 .message-wrapper {
 }

 .message-container {
   display: flex;

   min-height: 100px;
   max-width: 300px;

   border: 1px solid purple;
   border-radius: 2px;

   padding: 3px;
   text-overflow: ellipsis;
 }

 .message-user-image img {
   width: 80px;
   height: 80px;
 }

 .message-text {
   color: white;
   font-size: 13px;
   font-family: 'Open Sans', sans-serif;
 }
