html, body {
  background: #241e33;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #8c4141;
  padding-top: 50px;
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

.splash-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

 /* messages container */
.messages-container {
  background: black;
}

 /* message */
 .message-wrapper {
 }

 .message-container {
   display: flex;

   min-height: 100px;
   max-width: 300px;

   border: 1px solid purple;
   border-radius: 2px;

   padding: 3px;
   text-overflow: ellipsis;
 }

 .message-user-image img {
   width: 80px;
   height: 80px;
 }

 .message-text {
   color: white;
   font-size: 13px;
   font-family: 'Open Sans', sans-serif;
 }

.auth-container {
}

 .facebook-login-container {
   width: 200px;
   height: 40px;
 }

.facebook-login-container img {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.facebook-login-container img:active {
  top: 1px;
  left: 1px;
}

.signout-button {
  border: 1px solid #8c4141;
  padding: 3px 8px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s ease;
  max-width: 72px;
}

.signout-button:hover {
  background: rgba(114, 79, 177, 0.18);
  transition: background 0.1s ease;
}

.signout-button-wrapper {
}

.users-wrapper {
  margin: 20px 20px;
}

.users-container {
  max-width: 300px;
}

.user-object-container {
  display: inline-block;
  margin: 5px;
}

.user-object-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #9494b9;
}

.hovered-user-display {
  min-width: 100px;
  color: #716f8f;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 13px;
}
