html, body {
  background: #241e33;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #8c4141;
  padding-top: 50px;
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

.splash-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

 /* messages container */
.messages-container {
  background: black;
}

 /* message */
 .message-wrapper {
 }

 .message-container {
   display: flex;

   min-height: 100px;
   max-width: 300px;

   border: 1px solid purple;
   border-radius: 2px;

   padding: 3px;
   text-overflow: ellipsis;
 }

 .message-user-image img {
   width: 80px;
   height: 80px;
 }

 .message-text {
   color: white;
   font-size: 13px;
   font-family: 'Open Sans', sans-serif;
 }

 .facebook-login-container {
   width: 200px;
   height: 40px;
 }

.facebook-login-container img {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.facebook-login-container img:active {
  top: 1px;
  left: 1px;
}
